LST*txt
*.ps
./sql/ska_station_sensitivity_AAVS2.db
./sql/ska_station_sensitivity_EDA2.db
sql/ska_station_sensitivity_EDA2.db
sql/ska_station_sensitivity_AAVS2.db
sql/ska_station_sensitivity_AAVS2.db
sql/ska_station_sensitivity_AAVS2.db
sql/ska_station_sensitivity_AAVS2.db
sql/ska_station_sensitivity_AAVS2.db
sql/ska_station_sensitivity_AAVS2.db
